{% extends 'base.html.twig' %}

{% block title %}New Grupo{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}
<section id = "edit">
    <h1>Crear Nuevo Grupo</h1>
    <div id="form">
    {{ include('grupo/_form.html.twig') }}
    </div>
    <button>
    <a href="{{ path('grupos') }}">Volver al listado</a>
    </button>
    </section>
        {{ include('./admin/footer.html.twig')}}
{% endblock %}
