<header id="headerAdmin">
	<nav class="navbar w-100">
		<a href="/admin"><img id="logo" src="/img/icon-gameboy-classic.png" alt="logoPREMADE"/></a>
		<h1>PREMADE FINDER</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				
				{% if app.user %}
				<a id="logoutLink" class="nav-link">Bienvenido {{ app.user.username }}</a>
					<a id="logoutLink" class="nav-link" href="/logout">Cerrar sesión</a>
					{% if is_granted('ROLE_ADMIN') %}
						<a id="logoutLink" class="nav-link" href="/gestion">Panel de administración</a>
					{% endif %}
					
				{% else %}
					<a id="logoutLink" class="nav-link">¡Prepárate para formar equipo!</a>
				{% endif %}
			</li>
		</ul>
		</div>
	</nav>
</header>