{% extends 'base.html.twig' %}

{% block title %}Panel de admin{% endblock %}

{% block body %}
{{ include('./admin/adminheader.html.twig')}}

<section id ="adminIndex">
    <nav>
        <ul class="enlacesAdmin">
            <a href="{{ path('user_list') }}"><li>Lista de usuarios</li></a>
        </ul>
    </nav>
</section>

{{ include('./admin/footer.html.twig')}}
{% endblock %}
