{% extends 'base.html.twig' %}

{% block title %}New Reporte{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}
<section id = "edit">
    <h1>Dínos la razón de tu reporte</h1>
    <div id= "form">
    {{ include('reporte/_form.html.twig') }}
    </div>
    </section>
{{ include('./admin/footer.html.twig')}}
{% endblock %}
