form{
    text-align: center;

    & h3{

        @include response(sm){
            font-size:$font-h3-sm;
        }
    }

    & .form-control{
       & > input{
           margin: 30px;
       } 
    }
    & .form-control:focus , .form-control:active {
        background-color: $color-white;
        border-color: $color-secondary!important;
        outline: 0;
        box-shadow: 0 0 0 0.2rem $color-secondary !important;
    }

    & label{
        font-size: large;

        @include response(sm){       
            font-size: inherit;
        }
    }

    & .btn{
        margin-top: 10px;
    }
}